<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="header" id="header"> 
            <div class="title" id="title">
                <%- include('header/header.ejs') %>
            </div>
            <div>
                <ul class="pagina">
                    <li>
                        <a href="/" >
                            <h2>Home</h1>
                        </a>
                    </li>
                    <li>
                        <a href="/music">
                            <h2>Music</h2>
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio">
                            <h2>Portfolio</h2>
                        </a>
                    </li>
                    <li>
                        <a href="/contacts">
                            <h2>Contact</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            <div class="section1">
                <div class="title-section">
                    <h2>Electroacustic Compositions</h2>
                </div>
                <div class="horizontal-line"></div> 
                <div class="body-section">
                    <% if(typeof electroacoustic !== "undefined") { %>
                        <% electroacoustic.forEach(elPiece => { %>
                            <div class="piece" id="electr-pie">
                                <div class="stream">
                                    <audio src="/stream/<%= elPiece.piece %>" controls="" class="player-audio"></audio>
                                </div>
                                <div class="piece-info">
                                    <h3 class="titolo"><strong><%= elPiece.title %></strong></h3>
                                    <h3 class="data"><strong><%= moment(elPiece.premiere).format("D/MM/YYYY") %></strong></h3>
                                    <p class="descrizione"><strong><%= elPiece.description%></strong></p>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
            <div class="section2">
                <div class="title-section">
                    <h2>Movie Compositions</h2>
                </div>
                <div class="horizontal-line"></div> 
                <div class="body-section"> 
                    <% if(typeof videos !== "undefined") { %>
                        <% videos.forEach(video => { %>
                            <div class="piece" id="movie-piece">
                                <div class="stream">
                                    <video width="320" height="240" controls>
                                        <source src="<%= video.video %>" type="video/mp4" >
                                        <!-- Your browser does not support the video tag. -->
                                    </video>
                                </div>

                                <div class="piece-info">
                                    <br>
                                    <h3 class="titolo"><strong><%= video.title %></strong></h3>
                                    <h3 class="data"><strong><%= moment(video.premiere).format("D/MM/YYYY") %></strong></h3>
                                    <p class="descrizione"><strong><%= video.description%></strong></p>
                                </div>
                                <div class="video">

                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>

            </div>
            <div class="section3">
                <div class="title-section">
                    <h2>Metal Compositions</h2>
                </div>
                
                <div class="horizontal-line"></div> 

                <div class="body-section">
                    <% if(typeof pieces !== "undefined") { %>
                        <% pieces.forEach(piece => { %>
                            <div class="piece" id="metal-piece">
                                <div class="stream">
                                    <% if (piece.image) { %>
                                        <img src="<%= piece.image %>" alt="Immagine di <%= piece.title %>" width="200" height="200">
                                    <% } else { %>
                                        <img src="../DSC02723.jpg" alt="Immagine di default">
                                    <% } %>
                                </div>
                                <div class="piece-info">
                                    <h3 class="titolo"><strong><%= piece.title %></strong></h3>
                                    <h3 class="data"><strong><%= moment(piece.premiere).format("D/MM/YYYY") %></strong></h2>
                                    <p class="descrizione"><strong><%= piece.description%></strong></p>
                                </div>
                            </div>
                            <div class="audio-stream">
                                <% piece.files.forEach(file => { 
                                    // Estrai il nome del file
                                    const fullFileName = file.file.split('/').pop();
                                    
                                    // Rimuovi l'identificatore numerico, il trattino e l'estensione del file
                                    const title = fullFileName.replace(/^\d{10,}-\d{2} - /, '').replace(/\.[^/.]+$/, '');
                                %>
                                    <div class="info-song">      
                                        <p class="title-song"><%= title %></p>
                                        <audio src="/stream/<%= file.file %>" controls="" class="player-audio"></audio>
                                    </div>
                            <% }); %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>

        <nav class="footer" id="footer">
            <div class="foot-1">
                <label class="ios-switch form-switch" for="switch">
                    <input type="checkbox" id="switch" name="switch">
                    <i></i>
                </label>
                <p id="mode-text">Light Mode</p>
            </div>
            <div class="foot-2">
                <%- include("footer/footer.ejs") %>
            </div>
            <div class="admin-credits">
                <!-- <p id="latency">Server latency: 0 ms</p> -->
                <a class="admin" href="/login">Admin</a>
            </div>
        </nav>
    </div>

    <!-- <script src="/public/js/color.js"></script> -->
    <!-- <script src="/js/api.js"></script> -->
    <script src="/js/darkMode.js"></script>

</body>
</html>