<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="header" id="header"> 
            <div class="title" id="title">
                <%- include('header/header.ejs') %>
            </div>
            <ul class="pagina">
                <li >
                    <a href="/" >
                        <h2 >Home</h1>
                    </a>
                </li>
            
                <li>
                    <a href="/portfolio">
                        <h2>Portfolio</h2>
                    </a>
                </li>
                
                <li>
                    <a href="/music">
                        <h2>Music</h2>
                    </a>
                </li>

                <li>
                    <a href="/contacts">
                        <h2>Contact</h2>
                    </a>
                </li>

            </ul>

        </nav>
        <div class="main">
            <div class="section1">
                <div class="title-section">
                    <h2>Programming and Sound Design</h2>
                </div>
                
                <div class="horizontal-line"></div> 

                <div class="body-section">
                    <% if(typeof files !== "undefined") { %>
                        <% files.forEach(file => { %>
                            <div class="piece">
                                <div class="portfolio-piece-info">
                                    <h3 class="titolo"><strong><%= file.title %></strong></h3>
                                    <p class="descrizione"><strong><%= file.description%></strong></p>
                                    <div>
                                        <a class="download-portfolio" href="/download/<%= file.id%>">Download</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>

        <nav class="footer" id="footer">
            <div class="foot-1">
                <label class="ios-switch form-switch" for="switch">
                    <input type="checkbox" id="switch" name="switch">
                    <i></i>
                </label>
                <p id="mode-text">Light Mode</p>
            </div>
            <div class="foot-2">
                <%- include("footer/footer.ejs") %>
            </div>
            <div class="admin-credits">
                <!-- <p id="latency">Server latency: 0 ms</p> -->
                <a class="admin" href="/login">Admin</a>
            </div>
        </nav>
    </div>

    <!-- <script src="/js/api.js"></script> -->
    <script src="/js/darkMode.js"></script>

</body>
</html>