<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="header"> 
            <div class="title">
                <%- include('header/header.ejs') %>
            </div>
            <ul class="pagina">
                <li >
                    <a href="/" >
                        <h2 >Home</h1>
                    </a>
                </li>
            
                <li>
                    <a href="/music">
                        <h2>Music</h2>
                    </a>
                </li>

                <li>
                    <a href="/portfolio">
                        <h2>Portfolio</h2>
                    </a>
                </li>

                <li>
                    <a href="/contacts">
                        <h2>Contact</h2>
                    </a>
                </li>

            </ul>

        </nav>
        <div class="main">
            <div class="section1">
                <div id="title-section">
                    <h2>Programming and Sound Design</h2>
                </div>
                
                <div class="horizontal-line"></div> 

                <div id="body-section">
                    <% if(typeof files !== "undefined") { %>
                        <% files.forEach(file => { %>
                            <div class="piece">
                                <div class="portfolio-piece-info">
                                    <h2>TITLE: <strong><%= file.title %></strong></h2>
                                    <h2>DESCRIPTION: <strong><%= file.description%></strong></h2>
                                    <a class="download-portfolio" href="/download/<%= file.id%>">Download</a>
                                </div>
                                
                            </div>
                
                        <% }); %>
                    <% } %>
            
                </div>

            </div>
        </div>

        <nav class="footer">
            <%- include("footer/footer.ejs") %>
            <p id="latency">Server latency: 0 ms</p>
            <a class="admin" href="/login">Admin</a>

        </nav>
    </div>

    <script src="/js/color.js"></script>
    <script src="/js/api.js"></script>

</body>
</html>